[submodule "PC1-app1"]
	path = PC1-app1
	url = https://github.com/Aushzlten12/PracticaCalificada1part1-CC3S2
[submodule "PC1-app2"]
	path = PC1-app2
	url = https://github.com/Aushzlten12/PracticaCalificada1part2-CC3S2
[submodule "HolaRuby"]
	path = HolaRuby
	url = https://github.com/Aushzlten12/HolaRuby
[submodule "ActividadJUnitRspec"]
	path = ActividadJUnitRspec
	url = https://github.com/Aushzlten12/CC3S2
[submodule "app1-windows"]
	path = app1-windows
	url = https://github.com/McBikan/PC1Software
